# Python

## Rechnen

### 1.1 Die Formel zur Umrechnung von Grad °F zu °C lautet: $°C = \frac{5}{9} * (°F - 32)$. Schreiben Sie ein Program, das für jeden Wert in Fahrenheit den Wert in Celsius berechnet. Testen Sie es mit 100 °F.

### 1.2 Die Formel zur Umrechnung von Grad Celsius zu Kelvin lautet: $ K = °C + 273,15$. Schreiben sie nun ein Program das beide Formeln verbindet und Fahrenheit in Kelvin umwandelt. Wie viel Kelvin sind 100 Fahrenheit?

## Typenkonvertierung

### 2. Versuchen Sie die folgenden Elemente mit `int()` in Integer umzuwandeln. Denken Sie am besten erst darüber nach was passieren wird und testen dann ob Sie richtig lagen.

### 2.1

In [ ]:
print(int(2.0))

### 2.2

In [ ]:
print(int(2.3))

### 2.3

In [ ]:
print(int(2.7))

### 2.4

In [ ]:
print(int(2e10))

### 2.5

In [ ]:
print(int(2e-1))

### 2.6

In [ ]:
print(int("10"))

### 2.7

In [ ]:
print(int("10.0"))

### 2.8

In [ ]:
print(int([1]))

### 2.9

In [ ]:
print(int((1)))

### 2.10

In [ ]:
print(int((1,)))

### 2.11

In [ ]:
print(int(True))

### 2.12

In [ ]:
print(int(False))

### 3. Versuchen Sie jetzt das gleiche mit den folgenden Elementen, aber konvertieren Sie sie dieses mal zu Dezimalzahlen (floats) mit `float()`.

### 3.1

In [ ]:
print(float(2))

### 3.2

In [ ]:
print(float("10"))

### 3.3

In [ ]:
print(float("1.5"))

### 3.4

In [ ]:
print(float(True))
print(float(True))

## If Else Statements

### 4. Schreiben Sie ein if-else Statement das zwei Variablen `a` und `b` vergleicht die beide eine Zahl enthalten. Die größere der beiden Zahlen soll ausgegeben werden mit dem Text '{Zahl} ist größer'. Für den Fall, dass beide gleich groß sind, soll 'Beide Zahlen sind gleich groß' ausgegeben werden.

## Listen, Loops und `range` Funktion

### 5. Schreiben Sie eine Liste (das Python-Objekt Liste!), welche die Jahre von ihrem Geburtsjahr bis 2022 enthält.

### 6. Schreiben Sie einen for-Loop der die Zahlenpaare innerhalb der Tuples in `pair_list` miteinander multipliziert und danach ausgiebt. Versuchen Sie dabei Indexierung (Auswahl der Elemente einer Sequenz auf diese weiße: Sequenz[index]) zu vermeiden.

In [ ]:
pair_list = [(1, 2), (3, 7), (9, 5)]

## Dictionaries

### 7. Erstellen Sie ein dictionary `customers` mit den folgenden Keys: 
### `'customer_id', 'employment_status', 'age', 'location'`  
### und den folgenden entsprechenden Values:
###  `[12, 56, 2], [0, 1, 1], [22, 43, 31], ['Berlin', 'Cologne', 'Hamburg']`.